      <div class="hourlyforecast border border-zinc-600 rounded-xl text-white w-11/12 lg:w-8/12 py-5 my-8 px-8 mx-auto">
        <span class="text-3xl font-medium">Hourly forecast</span>
        <div class="flex gap-4 mt-4 overflow-x-auto pb-5">
          @for (forecast of hourlyWeather(); track $index) {
            @if (forecast) {
            <div class="forecast w-full text-center">
              <p>{{forecast.time | date:'dd/MM'}}</p>
              <p>{{forecast.time | date:'shortTime'}}</p>
              <i class="text-5xl md:text-6xl wi {{ forecast.icon }} mt-6"></i>
              <div class="text-sm md:flex justify-center gap-2 mt-4">
                <p>{{forecast.temperature}}ºC</p>
              </div>
              <div class="flex gap-1 items-center justify-center  ">
              <i class="wi wi-raindrop text-lg"></i>
              <p>{{forecast.precipitation_probability}}%</p>
              </div>
            </div>
            }
          }
        </div>
      </div>