<header>
    <ul class="flex items-center gap-2 px-4 text-gray-300 bg-zinc-900 h-12">
        <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover:bg-zinc-800 py-1 px-2 rounded-sm cursor-pointer">Home</li>
        <li routerLink="/saved" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover:bg-zinc-800 py-1 px-2 rounded-sm cursor-pointer">Saved Locations</li>
        <li routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover:bg-zinc-800 py-1 px-2 rounded-sm cursor-pointer">Settings</li>
    </ul>
</header>
<hr class="text-zinc-600">