<div class="content">
  <app-header></app-header>
  <main>
    <div class="search flex justify-center">
      <input class="mt-8 caret-white placeholder-white focus:border-blue-600 focus:outline-none p-2 border border-zinc-600 w-11/12 lg:w-8/12 xl:w-5/12  rounded-sm" type="text" placeholder="Search for a city...">
      <div class="results">

      </div>
    </div>
    <div class="forecast block md:flex justify-between items-center gap-4 border border-zinc-600 rounded-sm text-white w-11/12 lg:w-8/12 xl:w-5/12 py-5 mt-8 px-8 mx-auto">
      @if (isLoading()) { <app-spinner class="mx-auto"></app-spinner> }
      @else if (error()) { <span class="font-bold text-red-600">{{error()}}</span> }
      @else {
      <div class="current">
        <span class="text-3xl font-medium">Current weather</span>
        <div class="location flex items-center gap-1">
          <fa-icon class="text-2xl fa-width-auto" [icon]="faLocationDot"  />
          <span class="text-2xl">Seville</span>
        </div>
        <p class="text-lg">{{currentWeather().time }}</p>
      </div>
      <div class="weather mt-4 lg:mt-0">
        <div class="flex gap-3">
          <i class="text-7xl wi {{currentWeather().icon}}"></i>
            <div class="temperature flex">
              <p class="text-6xl">{{ currentWeather().temperature  }}</p>
              <span class="text-3xl">ºC</span>
            </div>
            <div class="temperature2">
              <p class="text-3xl font-bold text-blue-600">{{ currentWeather().weather }}</p>
              <p class="text-base mt-2">Real feel: {{ currentWeather().apparent_temperature  + 'ºC' }}</p>
            </div>
        </div>
      </div>
    }
    </div>
  </main>
  <app-footer></app-footer>
</div>
