<div class="content">
  <app-header></app-header>
  <main>
    <div class="search w-11/12 lg:w-8/12 mt-8 mx-auto border border-zinc-600 rounded-2xl items-center overflow-hidden">
      <div class="flex p-2">
      <input
        [formControl]="searchControl"
        class="mx-auto w-full text-white caret-white placeholder-white focus:outline-0"
        type="text"
        placeholder="Search for a city..."
      />
      <fa-icon class="text-base fa-width-auto text-white" [icon]="faMagnifyingGlass" />
      </div>
        @if (results().length > 0) {
          <div class="results w-full border-t border-zinc-600 bg-[#09090B]">
            @for (item of results(); track $index) {
              <div
                (click)="loadCurrent(item)"
                class="city flex justify-between p-2 cursor-pointer hover:bg-zinc-900 text-white"
              >
                <p>{{ item.name }}</p>
                <div class="info flex items-center gap-2">
                  <p>{{ item.countrycode }}</p>
                  <img class="w-6 h-4" [src]="`/flags/3x2/${item.countrycode}.svg`" alt="" />
                </div>
              </div>
            }
          </div>
        }
    </div>
      @if (isCurrentLoading()) {
        <div class="flex items-center justify-center h-6/12">
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>
      }
      @else if (currentWeather()) {
      <div
        class="forecast block md:flex justify-between items-center gap-4 border border-zinc-600 rounded-2xl text-white w-11/12 lg:w-8/12 py-5 my-8 px-8 mx-auto"
      >
        <div class="current">
          <span class="text-3xl font-medium">Current weather</span>
          <div class="location flex items-center gap-1">
            <fa-icon class="text-2xl fa-width-auto" [icon]="faLocationDot" />
            <span class="text-2xl">{{ currentWeather()?.city }}</span>
          </div>
          <p class="text-lg">{{ currentWeather()?.time}}</p>
        </div>
        <div class="weather mt-4 lg:mt-0">
          <div class="flex gap-3">
            <i class="text-7xl wi {{ currentWeather()?.icon }}"></i>
            <div class="temperature flex">
              <p class="text-6xl">{{ currentWeather()?.temperature }}<span class="text-4xl align-super">ºC</span></p>
            </div>
            <div class="temperature2">
              <p class="text-2xl font-bold text-blue-600">{{ currentWeather()?.weather }}</p>
              <p class="text-base mt-2">Real feel: {{ currentWeather()?.apparent_temperature }}ºC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="hourlyforecast border border-zinc-600 rounded-2xl text-white w-11/12 lg:w-8/12 py-5 my-8 px-8 mx-auto">
        <span class="text-3xl font-medium">Hourly forecast</span>
        <div class="flex gap-4 mt-4 overflow-x-auto pb-5">
          @for (forecast of hourlyWeather(); track $index) {
            @if (forecast) {
            <div class="forecast w-full text-center">
              <p>{{forecast.time | date:'dd/MM'}}</p>
              <p>{{forecast.time | date:'shortTime'}}</p>
              <i class="text-5xl md:text-6xl wi {{ forecast.icon }} mt-6"></i>
              <div class="text-sm md:flex justify-center gap-2 mt-4">
                <p>{{forecast.temperature}}ºC</p>
              </div>
              <div class="flex gap-1 items-center justify-center  ">
              <i class="wi wi-raindrop text-lg"></i>
              <p>{{forecast.precipitation_probability}}%</p>
              </div>
            </div>
            }
          }
        </div>
      </div>

      <div class="dailyforecast border border-zinc-600 rounded-2xl text-white w-11/12 lg:w-8/12 py-5 my-8 px-8 mx-auto">
        <span class="text-3xl font-medium">Weekly forecast</span>
        <div class="flex gap-4 mt-4 overflow-x-auto pb-5 md:pb-0">
          @for (forecast of dailyWeather(); track $index) {
            <div class="forecast w-full text-center">
              <p class="text-lg">{{ forecast.day }}</p>
              <i class="text-5xl md:text-6xl wi {{ forecast.icon }} mt-6"></i>
              <div class="text-sm md:flex justify-center gap-2 mt-4">
                <p>{{forecast.max_temperature}}ºC</p>
                <p>{{forecast.min_temperature}}ºC</p>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </main>
  <app-footer></app-footer>
</div>
