<div class="content">
  <app-header></app-header>
  <main>
    <div class="search w-11/12 lg:w-8/12 xl:w-6/12 mx-auto">
      <input [formControl]="searchControl" class="mt-8 mx-auto w-full text-white caret-white placeholder-white focus:border-blue-600 focus:outline-none p-2 border border-zinc-600 rounded-sm" type="text" placeholder="Search for a city...">
      @if (isSeachLoading()) { <app-spinner class="mt-4 flex justify-center"></app-spinner> }
      @else if (error()) { <span class="font-bold text-red-600">{{error()}}</span> }  
      @else {
      @if (results().length > 0) { 
          <div class="results mt-2 w-full rounded-sm border border-zinc-600">
          @for (item of results(); track $index) {
            <div (click)="loadCurrent(item)" class="city flex justify-between p-2 cursor-pointer hover:bg-zinc-700 text-white">
              <p>{{item.name}}</p>
              <div class="info flex items-center gap-2">
                <p>{{item.countrycode}}</p>
                <img class="w-6 h-4" [src]="`/flags/3x2/${item.countrycode}.svg`" alt="">
              </div>
            </div>
          }
          </div>
        }
      }
    </div>
    @if (currentWeather().city) {
      @if (isCurrentLoading()) { <app-spinner class="mt-4 flex justify-center"></app-spinner> }
    <div class="forecast block md:flex justify-between items-center gap-4 border border-zinc-600 rounded-sm text-white w-11/12 lg:w-8/12 xl:w-6/12 py-5 my-8 px-8 mx-auto">
      @if (error()) { <span class="font-bold text-red-600">{{error()}}</span> }
      @else {
      <div class="current">
        <span class="text-3xl font-medium">Current weather</span>
        <div class="location flex items-center gap-1">
          <fa-icon class="text-2xl fa-width-auto" [icon]="faLocationDot"  />
          <span class="text-2xl">{{currentWeather().city}}</span>
        </div>
        <p class="text-lg">{{currentWeather().time }}</p>
      </div>
      <div class="weather mt-4 lg:mt-0">
        <div class="flex gap-3">
          <i class="text-7xl wi {{currentWeather().icon}}"></i>
            <div class="temperature flex">
              <p class="text-6xl">{{ currentWeather().temperature  }}</p>
              <span class="text-3xl">ºC</span>
            </div>
            <div class="temperature2">
              <p class="text-3xl font-bold text-blue-600">{{ currentWeather().weather }}</p>
              <p class="text-base mt-2">Real feel: {{ currentWeather().apparent_temperature  + 'ºC' }}</p>
            </div>
        </div>
      </div>
    }
    </div>
  }
  </main>
  <app-footer></app-footer>
</div>
