<div class="w-full md:w-4/12 px-8 py-5 text-white fixed mt-8 bg-zinc-900 rounded-xl text-left bottom-0 right-0">
  <p>
    We use analytics and functional storage to improve your experience. Analytics helps
    us understand website usage, while functional storage remembers your preferences and speeds up
    your interactions with the site.
  </p>
  <div class="flex gap-3 mt-5">
    <button (click)="acceptAll()" class="cursor-pointer px-3 py-1 rounded-xl bg-blue-600 hover:bg-blue-500">Accept all</button>
    <button (click)="declineAll()" class="cursor-pointer px-3 py-1 rounded-xl bg-zinc-800 hover:bg-zinc-700">Decline all</button> 
  </div>
</div>
