@import "tailwindcss";
@import 'ngx-toastr/toastr';

.content {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}
.active {
    color: white;
}
main {
    background-color: #09090B;
    overflow-x: hidden;
}